.board {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-image: url('/board-assets/chessboard.png');
    background-repeat: no-repeat;
    border-radius: 2px;
}
